
.request-demo-btn, .start-now-btn{
  color:white;
  border-radius: 3px;
  width:130px;
  height: 35px;
  font-size: 18px;
  font-family: 'Rijdhani-Semibold', sans-serif;
}
.request-demo-btn{
  background-color: transparent;
}
.start-now-btn{
  background-color:#3E88FF;
  border-color: #3E88FF;
}