$color-shadow:rgba(96,111,148,.2);
.card-list{
	padding-top: 40px;
	margin: 0 auto;
	max-width: 60%;
	margin-bottom: 50px;
	
  ul{
	display: flex;
    justify-content: space-between;
    margin: auto;
	list-style: none;
	  padding-left: 0;
	  

    li{
		
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 10px 30px 0 $color-shadow;
		padding:30px;
		width: 300px;
		display: flex;
		flex-direction: column;
	
		
			p{
				color: #536283;
				font-weight: normal;
				font-size: 16px;
				font-family: "Open Sans",sans-serif;
				line-height: 26px;
			}
			h1{
				
				font-weight: bolder;
				font-size: 21px;
				font-family: "Arial Black", sans-serif;
				color: #3a5ba2;
				line-height: 31px;
				
			}
			
			img{
				align-self: center;
				margin-bottom: 15px;
				width: 70px;
			}
    }
  }
}
@media all and (max-width: 1024px) {
	.card-list ul {
		flex-direction: column;
		margin: 0;
		justify-content: center;
		li{
			width:100%;
			margin-bottom: 50px;
			h1{
				text-align: center;
			}
		}
	}
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
	.card-list {
		max-width: 85%;
		ul li{
			width:300px;
		}
	}

}